.wrapper {
    width: 1400px;
    margin: 0 auto;
}
header {
    width: 1400px;
    display: flex;
    flex-direction: column;
    /*position: fixed;*/
    /*top: 0;*/
}
.div1-header {
    width: 1400px;
    background: #10BBD5;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1296px;
    background: #10BBD5;
    margin: 16px 52px;
}
.logo1 {
    display: block;
    text-decoration: none;
    margin-right: 1061px;
}
.logo1-img{
    width: 136px;
    height: 29px;
}
.links-p {
    width: 51px;
    height: 24px;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    margin-top: 4px;
}
.links-button {
    border: none;
    background: #10BBD5;
    background-image: url("../img/cart_icon.png");
    width: 40px;
    height: 40px;
    margin-left: 8px;
    text-align: center;
    font-family: Cabin;
    font-size: 12px;
    color: #000;
    box-sizing: border-box;
    padding: 11px 12px 19px 19px;
}
.div2-header {
    width: 1400px;
}
.nav-items {
    width: 1296px;
    height: 24px;
    margin: 4px 52px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
}
.nav-item1 {
    margin-right: 883px;
}
.nav-item2 {
    margin-right: 40px;
}
.item {
    padding-top: 4px;
    box-sizing: border-box;
}
main {
    width: 1400px;
    background: #EEEEEF;
    padding-top: 32px;
    padding-right: 52px;
    padding-left: 52px;
    box-sizing: border-box;
}
.p-main {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    margin-bottom: 23px;
}
.line {
    border: 1px solid #A8A8A8;
    width: 1296px;
}
.content1 {
    width: 306px;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
    padding: 32px;
    background: #F8FDFE;
}
.img-content1 {
    width: 178px;
    height: 280px;
}
.a1-content1 {
    width: 242px;
    margin-bottom: 16px;
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.a2-content1 {
    font-family: Cabin;
    font-size: 20px;
    color: #1F1F1F;
    display: block;
    text-decoration: none;
}
.div-content1 {
    border-bottom: 1px solid #A8A8A8;
    width: 242px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.p2-content1 {
    font-family: Cabin;
    font-size: 16px;
    color: #8E8E8E;
}
.p3-content1 {
    margin-top: 8px;
    margin-bottom: 16px;
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
}
.span-content1 {
    display: inline-block;
    margin-left: 24px;
    font-family: Cabin;
    font-size: 24px;
    color: #8E8E8E;
    margin-bottom: 16px;
    margin-top: 8px;
}
.button-content1 {
    border: none;
    height: 40px;
    width: 242px;
    background: #4C394E;
    font-family: Cabin;
    font-size: 16px;
    color: #F8FDFE;
    box-sizing: border-box;
    padding: 8px 24px;
    border-radius: 4px;
}
.main2 {
    width: 1296px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 512px 512px 512px;
    gap: 32px 24px;
    margin-top: 24px;
}
.sale1::after {
    content: '';
    display: block;
    background-image: url("../img/hit.png");
    width: 36px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.sale2::after {
    content: '';
    display: block;
    background-image: url("../img/new.png");
    width: 47px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.sale3::after {
    content: '';
    display: block;
    background-image: url("../img/hit10.png");
    width: 110px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.sale4::after {
    content: '';
    display: block;
    background-image: url("../img/hit16.png");
    width: 108px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.sale5::after {
    content: '';
    display: block;
    background-image: url("../img/new11.png");
    width: 115px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.sale6::after {
    content: '';
    display: block;
    background-image: url("../img/hit7.png");
    width: 102px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.sale7::after {
    content: '';
    display: block;
    background-image: url("../img/20off.png");
    width: 73px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.sale8::after {
    content: '';
    display: block;
    background-image: url("../img/new30.png");
    width: 125px;
    height: 32px;
    background-size: contain;
    position: absolute;
    border-radius: 4px;
    top: 2px;
}
.b-green {
    background: #4D762D;
}
footer {
    width: 1400px;
    background: #4C394E;
    padding: 32px 52px;
    box-sizing: border-box;
}
.footer-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cabin;
    font-size: 16px;
    color: #F8FDFE;
}
.footer-li1 {
    margin-right: 1124px;
    height: 24px;
}
.icon {
    background-image: url("../img/chat_icon.png");
    width: 64px;
    height: 64px;
    background-size: contain;
    margin-top: 30px;
    margin-left: 1255px;
    margin-bottom: 26px;
    border: none;
    /*position: fixed;*/
    /*top:1200;*/
}
